*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    display: none; 
  }

html{
  scroll-behavior: smooth;
  --primary-color: #363636;
  --secondary-color: #fff;
  --tertiary-color: #00000018;
  --hover-color: #363636;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
}

body{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    font-size: 1rem;
    scroll-behavior: smooth;
    background-color: #efefef;
}
a{
    all: unset;
    text-decoration: underline;
}
h2{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}
form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-top: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
.error-border{
    color: red;
    border: 2px solid red !important;
}
#preview{
    height: 100%;
    padding: 16px;
}
.container_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    position: sticky;
    top: 20vh;
    width: 30vw;
    padding-right: 5vw;
}
legend {
    font-weight: 500;
    color: black;

}
fieldset {
    border: solid 1px #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 10vh;
    width: 39.4vw;
}
.sous_text{
    font-size: 0.875rem;
    font-weight: 200;
}

/* .margel{
    margin-left: 190px;
} */

label[for=md] {
    /* margin-right: 30px; */
}

select{
    all: unset; 
}
button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Poppins", serif;
}
textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Poppins", serif;
}
select:focus{
    border: 2px solid var(--primary-color);
}

textarea {
    border: 1px solid var(--primary-color);
}

input[type=submit] {
    /* background-color: #34495e; */
    color: white;
    width: 200px;
    height: 30px;
    cursor: pointer;
  font-size: 0.9rem; /*  oblig� de forcer la taille car input type=button n'h�rite pas du font d�clar� dans le body*/
}

input[type=submit]:hover {
    background-color: white;
    color: #2d3e50;
    /* border: 1px solid #2d3e50; */
}

.contain_Who{
    display: flex;
    align-items: center;
    gap: 16px;
}
.contain_Who_check{
    display: flex;
    align-items: center;
    flex-direction: row; gap: 16px; width: 50vw;
}

.center {
    text-align: center
}

.obligatoire {
    color: red;
}

input:required {
    box-shadow: none; /*suppression de l'ombre dans firefox*/
    /* border: 1px solid #e52c2c;  */
}

input:required:valid {
        border: 2px solid var(--primary-color);
}

.dimension{
    display: inline-block;
    text-align: right;
    width: 190px; 
}
    
/* .img-container {
      text-align: center;
} */
/*******************Bouton***************************/
/* .boton-elegante {
    padding: 15px 30px;
    border: 2px solid rgb(150, 150, 200);
    background-color: rgb(150, 150, 200);
    color: #ffffff;
    font-size: 1rem;
    font-family: "Poppins", serif;
    font-weight: 300;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
  }
  
  .boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(150, 150, 200, 0.25) 0%,
      rgba(150, 150, 200, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
  }
  
  .boton-elegante:hover::after {
    transform: scale(4);
  }
  
  .boton-elegante:hover {
    border-color: rgb(150, 150, 200);
    background: #252229;
  }

  .boton-previous{
    padding: 15px 30px 15px 0px;
    border: none;
    background-color: transparent;
    color: rgb(100, 100, 100);
    font-size: 1rem;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
  } */

  .boton-elegante {

    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 4em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 24px;
  }
  .boton-previous {
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: rgb(100, 100, 100);
    padding: 1em 1.8em 1em 0;
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
  }
  .boton-tertiaire{
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    color: var(--primary-color);
    padding: 1em 4em;
    background: var(--secondary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 24px;
  }
  
  .boton-elegante .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boton-elegante .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .boton-elegante .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .boton-elegante:hover {
    background-color: var(--hover-color);
  }
  
  .boton-elegante:hover .arrow {
    background: var(--secondary-color);
  }
  
  .boton-elegante:hover .arrow:before {
    right: 0;
  }

/*******************Input-style*********************/
.Input_style{
    position: relative;
    margin: 16px 0 16px 0;
}
.Input_style input{
    font-size: 100%;
    padding: 1.5em;
    outline: none;
    border: 2px solid var(--tertiary-color);
    background-color: transparent;
    border-radius: 20px;
    width: 19.4vw;
    height: 20px;
    line-height: 2rem;
}
.Input_style textarea{
    font-size: 100%;
    padding: 1.5em;
    outline: none;
    border: 2px solid var(--tertiary-color);
    background-color: transparent;
    border-radius: 20px;
}
.Input_style select{
    font-size: 100%;
    padding: 1.5em;
    outline: none;
    border: 2px solid var(--tertiary-color);
    background-color: transparent;
    border-radius: 20px;
}
.Input_style label{
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}
.Input_style :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1em;
    padding: 0.4em;
    padding-bottom: 0;
    background-color: #e8e8e8;
  }
  .Input_style :is(textarea:focus, textarea:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1em;
    padding: 0.4em;
    padding-bottom: 0;
    background-color: #e8e8e8;
  }
  .Input_style :is(input:focus, input:valid) {
    border-color: var(--primary-color);
  }
  .Input_style :is(textarea:focus, textarea:valid) {
    border-color: var(--primary-color);
  }
  #OEUVRE_TITRE{
    width: 39.8vw;
  }
  textarea{
    width: 39.8vw;
  }

.Input_style2{
    position: relative;
    margin: 16px 0 16px 0;
}
.Input_style2 input{
    font-size: 100%;
    padding: 1.5em;
    outline: none;
    border: 2px solid var(--tertiary-color);
    background-color: transparent;
    border-radius: 20px;
    height: 20px;
    width: 12.5vw;
    line-height: 2rem;
}
.Input_style2 textarea{
    font-size: 100%;
    padding: 1.5em;
    outline: none;
    border: 2px solid var(--tertiary-color);
    background-color: transparent;
    border-radius: 20px;
}
.Input_style2 select{
    font-size: 100%;
    padding: 1.5em;
    outline: none;
    border: 2px solid var(--tertiary-color);
    background-color: transparent;
    border-radius: 20px;
}
.Input_style2 label{
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}
.Input_style2 :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1em;
    padding: 0.4em;
    padding-bottom: 0;
    background-color: #e8e8e8;
  }
  .Input_style2 :is(textarea:focus, textarea:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1em;
    padding: 0.4em;
    padding-bottom: 0;
    background-color: #e8e8e8;
  }
  .Input_style2 :is(input:focus, input:valid) {
    border-color: var(--primary-color);
  }
  .Input_style2 :is(textarea:focus, textarea:valid) {
    border-color: var(--primary-color);
  }

  input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button,
        input[type='number'] {
          -webkit-appearance: none;
          margin: 0;
          -moz-appearance: textfield !important;
        }
  /* .Phone_number {
    display: block;
    margin: 0em auto;
    border: none;
    padding: 0;
    width: 10.5ch;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
}
.Phone_number:focus {
    outline: none;
    color: dodgerblue;
} */
/****************drag file******************/
.container_drop_file {
    height: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
  }
  
  .header_drop_file {
    flex: 1;
    width: 100%;
    border: 2px dashed var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .header_drop_file svg {
    height: 100px;
  }
  
  .header_drop_file p {
    text-align: center;
    color: black;
  }
  
  .footer {
    background-color: var(--tertiary-color);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
  }
  
  .footer svg {
    height: 130%;
    fill: var(--primary-color);
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
  }
  
  .footer p {
    flex: 1;
    text-align: center;
  }
  
  #file {
    display: none;
  }

/****************Page_form******************/
    #msform {
        width: 400px;
        margin: 50px auto;
        text-align: center;
        position: relative;
    }
    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        position: relative;
    }

/*Hide all except first fieldset*/
    #container {
        width: 40vw;  
    }
    
    .step-container {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* transform: translateY(-43%); */
    }
    .step{
        width: 50vw;
    }
    .step-circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid rgb(200, 200, 200);
        line-height: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .step-line {
        position: absolute;
        top: 16px;
        left: 50px;
        width: calc(100% - 100px);
        height: 2px;
        background-color: #007bff;
        z-index: -1;
    }
    
    #multi-step-form{
        overflow-x: hidden;
    }
    .progress-bar{
        height: 3px;
        background-color: var(--primary-color);
    }

    /*****************radio*******************/
    .radio-input {
        display: flex;
        flex-direction: row;
        gap: 10px;
        accent-color: var(--tertiary-color)
      }
      
      .radio-input * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      
      .radio-input label {
        display: flex;
        align-items: center;
        /* gap: 15px; */
        padding: 0px 20px;
        width: 19.4vw;
        cursor: pointer;
        height: 50px;
        position: relative;
        border: 2px solid var(--tertiary-color);
        border-radius: 20px;
        accent-color: var(--tertiary-color);
        color: rgb(100, 100, 100);
      }
      
      .radio-input label::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 19.4vw;
        height: 45px;
        z-index: -1;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        border-radius: 20px;
        border: 2px solid transparent;
        
      }
      .radio-input label:hover::before {
        transition: all 0.2s ease;
        background: var(--tertiary-color);
        
      }
      
      .radio-input label:has(input:checked)::before {
        background-color: #fff;
        border: 2px solid var(--primary-color);
        height: 50px;
        
      }
      .radio-input label .text {
        color: #fff;
      }
      
      .radio-input label input[type="radio"] {
        background-color: white;
        border: 2px solid var(--tertiary-color);
        appearance: none;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .radio-input label input[type="radio"]:checked {
        background-color: white;
        border: 2px solid var(--primary-color);
        -webkit-animation: pulse 0.7s forwards;
        animation: pulse 0.7s forwards;
        
      }
      
      .radio-input label input[type="radio"]:before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color: var(--primary-color);
        transform: scale(0);
      }
      
      .radio-input label input[type="radio"]:checked::before {
        transform: scale(1);
      }
      
      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        }
        70% {
          box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
      }

      label p{
        margin-left: 8px !important;
      }
      

      .slide-right {
        -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.6s;
                animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.6s;
      }
    
    @-webkit-keyframes slide-right {
      0% {
          margin-left: 5vw;
                opacity: 0;
      }
      100% {
          margin-left: 0vw;
                opacity: 2;
      }
    }
    @keyframes slide-right {
        0% {
          margin-left: 5vw;
                opacity: 0;
      }
      100% {
          margin-left: 0vw;
                opacity: 2;
      }
    }











      /***************************************/
      /* *, ::before, ::after {
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        margin: 0;
   } */
    :root {
        --spacing: 8px;
        --hue: 400;
        /* --background1: #2c323a;
        --background2: #1d2126;
        --background3: #0b0d0f;
        --brand1: #000;
        --text1: #fff;
        --text2: #e6e6e6; */
   }
    code {
        background-color: white;
   }
    .cp-pen-embed .codepen-link {
        display: none;
   }
    /* body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: var(--background1);
        flex-gap: var(--spacing);
        color: var(--text1);
        gap: var(--spacing);
        padding: calc(var(--spacing) * 2);
        font-size: 1.5rem;
   } */
    /* @media only screen and (max-width: 600px) {
        body {
            font-size: 1rem;
       }
   } */

    /* .number-code > div {
        display: flex;
   }
    .number-code > div > input:not(:last-child) {
        margin-right: calc(var(--spacing) * 2);
   }
    .content-area {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 2);
        background: var(--background2);
        padding: var(--spacing);
        border-radius: var(--spacing);
   }
    .content-area p {
        color: var(--text2);
        font-size: 0.8em;
   } */
    /* form {
        background-color: grey;
   } */
    form input.code-input {
        font-size: 1.5em;
        width: 32px;
        text-align: center;
        /* flex: 1 0 1em; */
   }
    /* form input[type='submit'] {
        margin-left: auto;
        display: block;
        font-size: 1em;
        cursor: pointer;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
   } */
    /* form input[type='submit']:hover {
        background: var(--background3);
   } */
    form input {
        padding: 8px 8px 8px 8px;
        border-radius: 10px;
        color: black;
        background: transparent;
        border: 0;
        border: 2px solid var(--tertiary-color);
   }
    /* form input:invalid {
        box-shadow: none;
   } */
    form input:focus {
        outline: none;
        border: 2px solid rgb(200, 200, 200);
        background: var(--background3);
   }
    
 

   @media (max-width: 600px) {
    body{
        font-size: 1rem;
    }
    h2{
      font-size: 2.5rem;
    }
    .sous_text{
        font-size: 1rem;
    }
    .label p{
      font-size: 0.875rem;
    }
    main{
        flex-direction: column;
        margin-top: 5vh;
        justify-content: start;
    }
    .container_left{
        width: 100%;
        height: fit-content;
        position: relative;
        top: 0;
        margin-bottom: 64px;
    }
    .radio-input label:has(input:checked)::before{
      width: 38vw;
    }
    .radio-input label{
      width: 38vw;
    }
    fieldset{
        width: 80vw;
    }
    #container{
        width: 80vw;
    }
    .step{
        width: 80vw;
    }
    .Input_style input{
        width: 79.5vw;
    }
    .Input_style2 input{
        width: 38vw;
    }
    .boton-elegante{
        font-size: 1rem;
    }
    .boton-previous{
      font-size: 1rem;
  }
    textarea{
        width: 79.5vw;
    }
    #OEUVRE_TITRE{
        width: 79.5vw;
    }
    #OEUVRE_TITRE_2{
        width: 79.5vw;
    }
    .Input_style select{
      padding: 1em;
    }
    .contain_Who {
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }
    .contain_Who_check {
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }
    .tab{
      padding: 8px 24px !important;
    }
   }



   /*********************************************/
   .tabs {
    display: flex;
    margin-bottom: 20px;
    /* background-color: var(--tertiary-color); */
    border: 2px solid var(--tertiary-color);
    width: fit-content;
    padding: 4px;
    border-radius: 20px;
    margin-top: 12px;
}
.tab {
    padding: 10px 50px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 18px ;
    color: rgb(100, 100, 100);
}
.tab.active {
    border: 2px solid var(--primary-color);
    background: white;
    font-weight: 500;
    border-radius: 18px ;
    color: black;
    
}
.tab-content {

}
.hidden {
    display: none;
}
/* 
.tab-container {
    position: relative;
  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  
    padding: 2px;
  
    background-color: #dadadb;
    border-radius: 9px;
  }
.tab.active {
    content: "";
    width: 130px;
    height: 28px;
    background: #ffffff;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 9;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    transition: all 0.2s ease-out;
}
.tab {
    width: 130px;
    height: 28px;
    position: absolute;
    z-index: 99;
    outline: none;
    opacity: 0;
  }

  .tab_label {
    width: 130px;
    height: 28px;
  
    position: relative;
    z-index: 999;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: 0;
  
    font-size: 0.75rem;
    opacity: 0.6;
  
    cursor: pointer;
  }
  .tab--1:checked ~ .indicator {
    left: 2px;
  }
  
  .tab--2:checked ~ .indicator {
    left: calc(130px + 2px);
  } */


  